<a href="https://colab.research.google.com/github/user42423507641344/bondy/blob/main/variablesbondy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# how to create and print variablestime = 350print(time)print(time)print(time)level = 1score = 1100print(level)print(score)

350
350
350
1
1100

1100

In [2]:
# variable reassignment
time = 350
print(time)
time = 500
print(time)
print(time)
print(time)
time = 700
time = 900
print(time)

# variable reassigned to variable
start = 0
end = 1000
time = end
print(time)
print(end)
time = start
print(time)
print(start)

350
500
500
500
900
1000
1000
0
0

In [3]:
# variable names with snake case & data types
# Note - capitalization matters!
# undefined means Python doesn't know what an object

bondy_age = 17
print(type(bondy_age))

delicious_in_dungeoun_rating = 4.5
print(type(delicious_in_dungeoun_rating))

my_name = "bondy"
my_name_single_quotes = 'bondy'
print(my_name)
print(type(my_name))

print(my_name_single_quotes)
print(type(my_name_single_quotes))

today_is_a_great_day = True
print(today_is_a_great_day)
print(type(today_is_a_great_day))

the_sky_is_red = False
print(the_sky_is_red)
print(type(the_sky_is_red))

<class 'int'>
<class 'float'>
bondy
<class 'str'>
bondy
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>

In [5]:
my_name = "bondy"
my_age = 17
my_hobby = "sports_betting"
my_identity = "cambodian"